body {
    overflow-x: hidden;
}
nav{
    
    display: flex;
    flex-wrap: wrap; 
    max-width:100%;
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: center;

    }
    ul{
        display: flex;
        list-style: none;
        font-size: 15px;
    }
    li
    {
        padding: 8px;
        margin: 0 10px;
    }
    a{
        text-decoration: none;
        color: black;
        text-align: center;
    }
    a:hover{
        color: purple;
    }
    .sec{

        display: flex;
        width: 60%;
        margin: 0 auto;
        justify-content:space-around;
        
        
    }
    .discribe{
        display: flex;
        flex-direction: column;
    }
    .avatar{
        border-radius: 50%;
        height: 150px;
    }
    #title{
        color: gray;
        margin: 0;
    }
    .Icons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 15px;
        align-items: center;
        width: 60px;
        margin: 0 30px;
        gap: 10px;
    }
    .IconsImg{
        width:40px;
        height: 40px;
    }
    .Icons h2{
        text-align: center;
        justify-content:center;
    }
    .p{
        display: block;
        box-sizing: border-box;
        width: 300px;
    }
    .button{
        height: 40px;
        width: 90px;
        background-color: blueviolet;
        color: #fff;
        font-size: 15px;
        border-radius: 4px;
        margin: 15px 0;
    }
    .CenterH{
        text-align: center;
        font-size:60px larger;
        margin-top: 50px;
        margin-bottom: 0;
    }
    .hContact{
        text-align: left;
        font-size: 30px large;

    }
    .pBio{
        text-align: center;
        color: gray;
        font-size: 15px;
        margin: 0;
        padding-bottom: 50px;
    }
    .pFooter{
        text-align: center;
        font-size: 16px;
        margin: 0;
        padding-bottom: 50px;
        color: #fff;
    }
    .pContact{
        padding: 0;
    }
    .contactIcon{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        margin: auto 0;
    }
    .contactImg{
        justify-content: center;
        align-items: center;
       margin: 40% 5px auto;
    }
    .abtMe{
        display: flex;
        width: 60%;
        margin: 0 auto;
        justify-content:space-between;
        gap: 50px;
    }
    .abtImg{
        margin: auto;
        display: flex;
        width: 250px;
        height: 250px;
        border-radius: 2px;
    }
    .allAbt{
        display: flex;
        flex-direction: column;
    }
    .points{
        display: flex;
        flex-direction: row;
        width: 80%;
    }
    .numbers{
        width: 30%;
    }
    
    #btn{
        width: 150px;
    }
    .show{
        width: 30px;
        height: 30px;
    } 
    .skills{
        display: flex;
        justify-content: space-around;
        width: 60%;
        margin: auto;
    }
    .btnSkill{
        width: 400px;
        display: flex;
        gap: 5px;
        border: 0;
        background: #fff;
    }
    .btnSkill h2{
        margin: 0;
    }
    .showSkill{
        display: none;
    }
    progress{
        border-radius: 4px;
    }
    progress[value] {
        -webkit-appearance: none;
         appearance: none;
        margin: 5px 0;
        width: 250px;
        height: 5px;
        
      }
      progress[value]::-webkit-progress-value {
        background-color: black;
        border-radius: 4px; 
      }



    .prog{
        display: flex;
        flex-direction: column;
    }
    .services{
        display: flex;
        gap: 20px;
        justify-content:space-around;
        width: 80%;
        margin: 0 auto 40px;
        align-items: center;
        
    }
    .service{
        text-align: left;
        height: 250px;
        width: 200px;
        background-color: whitesmoke;
    }
    #logo{
        margin: 30px 10px 5px;
        
    }
    .pServices{
        width: 80%;
        box-sizing: border-box;
       text-align: left;
       padding-left: 10px;
    }
    .serH{
        font-size:60px larger;
        padding-left: 10px;
    }
    #parBio{
        display: block;
        box-sizing: border-box; 
        margin: auto;
        width: 100%;
    }
    #slider{
        height: 300px;
        width: 800px;
        background-color: whitesmoke;
    }
    .IconsLeftRight{
        width: 40px;
        height: 40px;
        margin: auto 0;
    }
    .contact{
        display: flex;
        gap: 10px;
        justify-content:space-evenly;
        text-align: center;
        align-items: center;
    }
    .contactLink{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .formDiv{
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding-top: 5%;
    }
    .flexedForm{
        display: flex;
        flex-direction: row;
        gap: 4px;
    }
    .input{
        height: 60px;
        border: none;
        border-radius: 3px;
        background: #FFEBEB;
    }
    /* #parInput{
        height: 120px;
    } */
    .btnForm{
    align-items: end;   
    }
    footer{
        max-width: 100%;
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color:blueviolet;
        border-radius: 6px;
    }
    .footerTopPart{
        display: flex;
        justify-content: space-around;
        width: 80%;
        margin: 0 auto;
        color: #fff;
    }
    .footerWords{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }




    .activityH2{
        margin: auto 0;
        font-size: 20px;
        color: gray;
    }
    .activityDiv{
        display: flex;
        flex-direction: row-reverse;
        gap: 10px;
    }
    .qualiDiv{
        gap: 60px;
        display: flex;
        justify-content: center;

    }
    .qualiBtm{
        display: flex;
        justify-content: center;
        gap: 50px;
        margin-top: 3%;
    }
    .lineDiv{
        width: 0.5px;
        height: 300px;
        background-color: blueviolet;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;
       } 
       .qailiSapn{
        background-color: blueviolet;
        height: 10px;
        width: 8px;
        border-radius: 10px;
       }
       .RightLeftQuali{
        display: flex;
        flex-direction: column;
        gap: 40px;
       }
       .RightQuali{
        position: relative;
        bottom: 50px;
       }
       .sliderCounter{
        height: 0.5px;
        width: 300px;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        margin: 20px auto 80px;
       }

    @media screen and (max-width : 1000px){
        header{
            justify-content: center;
            flex-wrap: wrap;
        }
        .sec{
            display: flex;
            flex-direction: column-reverse;            
        }

        .Icons{
            display: flex;
            flex-direction: row;
            margin: 10px auto;
            align-items: center;
            justify-content: center;
        }
        .discribe{
            align-items: center;
        }
        .abtMe{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .p{
            align-items: center;
            width: 100%;
            text-align: center;
        }
        #parBio{
            text-align: center;
        }
        h1{
            align-items: center;
        }
        .abtImg{
            align-items: center;
            justify-content:center;
            margin: 0 auto;
        }
        .points{
            text-align: center;
            display: flex;
            flex-direction: column;
            margin: auto;
            justify-content: center;
            align-items: center;
        }
        .button{
            align-items: center;
            justify-content: center;
            margin: auto;
        }
        .skills{
            display: flex;
            flex-direction: column;
          
        }
        .services{
            display: flex;
            flex-wrap: wrap;
            width: 70%;
        }
        #slider{
            display: flex;
            width: 80%;
            margin: 20px auto 200px;
            justify-content: space-between;
            gap: 50px;
        }
        .contact{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content:center;
            margin: 0 auto;
        }

        .desIcon{
            display: none;
        }
        .footerTopPart{
            width: 100%;
            align-items: center;
            flex-direction: column;
        }
        
    }